.button_container {
    width: 100%;
    height: 50px;
    background-color: #2196F3;
    border-radius: 5px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px 3px rgb(34 60 80 / 25%);
}

.button_button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  font: inherit;
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.toTop{
  width: 4em;
  height: 4em;
  color:#2196F3;
  padding-top:1em;
  display:inline-block;/* or block */
  position:fixed;
  bottom: 10px;
  border: none;
  text-decoration:none;
  transition:all 1.3s ease-out;
  background-color: transparent;
  padding-top: 3em;
}
.toTop:before{
  content:'🛧';
  font-size:1.9em;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-.7em;
  border:solid .1em white;
  border-radius:10em;
  width:1.4em;
  height:1.4em;
  line-height:1.3em;
  border-color:inherit;
  transition: transform 0.3s ease-out;
}
.toTop:hover{
  color:#2195f37e;
  border-color:#2195f37e;
}
.toTop:hover:before{
  transform: scale(1.3);
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .toTop{
    z-index: 9;
    right: 1em;
    bottom: 5em;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
  }
  .toTop:before{
    content:'▲';
  }
}