.checkbox_container {
    min-width: 232px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 11px -1px rgba(34, 60, 80, 0.09);
}

.checkbox_container .checkbox_section{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* margin-left: 20px; */
    margin-bottom: 20px;
}

.checkbox_title{
    display: block;
    margin: 20px;
    font-size: 12px;
    font-weight: 600;
    text-align: start;
}

.checkbox_container .checkbox_section > div{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;


    /* margin-bottom: 20px; */
    font-size: 13px;
    font-weight: 400;
    padding-left: 20px;
    
    
}

.checkbox_container .checkbox_section > div:hover{
    background-color: #F1FCFF;
    transition: all 0.5s ease;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #2196F3;
    background-color: #ffffff;
}

input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #9ABBCE;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 5px;
    top: 6px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #2196F3;
    border-bottom: 2px solid #2196F3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}

@media (min-width: 768px) {
    .checkbox_container {
        width: 1vw;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 3px 11px -1px rgba(34, 60, 80, 0.09);
    }
  }
  
  @media screen and (max-width: 480px) { 
    .checkbox_container {
      width: 100%;
    }
    .checkbox_container .checkbox_section{
        width: 100%;
        display: flex;	  /*  <----- required        */
        justify-content: flex-start;
    }
    .checkbox_container 
    .checkbox_section > div {
        max-width: 100%;
    }

  }